html,body{
    width: 100%;
    height: 100%;
    background-color: #26C281;
    font-family: 'Raleway', sans-serif;
}

.title-content h1, h2{
    text-align: center;
}
#player{
    margin: 10% auto;
}
.content-wrapper{
    width: 100%;
    height: 95%;
}
.video-card{
  background: white;
  display:flex;
  flex-direction:column;
  box-sizing: border-box;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
 height: 83%;
  border-radius: 8px 8px 2px 2px;
  margin: 4% auto;
	width: 80%;
	min-width:  660px;
	max-height: 700px;
}

.card-btn{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1px;
    margin-bottom: 10px;
    height: 7%;
    border-radius: 7px;
    background-color: #26C281;
    font-size: 17px;
    color: white;
    padding: 2px;
}

.card-btn:hover{
    cursor: pointer;
    background-color: #1A875A;
}


h1{
    color: white;
}

.video-card p {
    padding: 15px;
    font-size: 20px;
}